[NODE]
hostname = 192.168.1.166
port = 50054

[NAMENODE]
host = 192.168.1.166
port = 50051

[STORAGE]
# root directory only — node-specific directory will be created after registration
data_dir = datanode/data
# logical storage capacity (bytes)
capacity_bytes = 1000000000

[HEARTBEAT]
interval_seconds = 5

[SERVER]
worker_threads = 4

[GRPC]
grpc_max_message = 104857600